/* ---Geral--- */
@import url('https://fonts.googleapis.com/css2?family=Jaini&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.google-fontes {
    background-color: lightblue;
    font-size: 2em;
}

/* --- Fontes --- */

.font-import {
    border: solid 2px blue;
    font-family: 'Jaini', Roboto Mono;
}

.font-link {
    border: solid 2px green;

    font-family: 'Danfo' , Bebas Neue;
    }
